$button-dark: rgb(48, 54, 69);
$button-dark-hover: rgb(47, 71, 87);
$button-light: rgb(209, 217, 226);
$button-light-hover: rgb(223, 227, 236);
$teal: rgb(105, 226, 207);
$primary: rgb(248, 249, 251);
$secondary: rgb(95, 109, 126);
$base-card-elements: #5F6D7E;

